/*Main*/
.cont-bg {
    background-color: rgba(45, 49, 54, 0.95);
}

.container-fluid .row {
    max-width: 1000px;
    margin: 0 auto;
}

/*Heder && Footer*/

.hed-fut-padding{
    padding-top: 15px;
    padding-bottom: 25px;
}

.wrap-images img {
    width: 100%;
    height: auto;
    min-width: 100px;
    max-width: 300px;
}

.wrap-images-soc img {
    width: 100%;
    height: auto;
    min-width: 20px;
    max-width: 100px;
}

/*Forms*/

.cont-form-bg, .cont-form-bg:focus {
    background-color: rgba(51, 54, 58, 0.95);
}

form {
    padding-top: 30px;
    padding-left: 15px;
}

.form-btn-color {
    color: #fff;
    background-color: #a43c3d;
}

.form-btn-color:hover {
    color: #fff;
    background-color: #853a3b;
}

.form-group .form-control {
    color: #d7d7d7;
}

.row-btn{
    padding-top: 30px;
    padding-bottom: 30px;
}

.stars {
    color: #ca0004;
}

.text-forms {
    color: #d7d7d7;
    font-weight: bold;
}

.wrap-images-form img {
    width: 100%;
    height: auto;
    min-width: 20px;
    max-width: 100px;
}

/*Comments*/
.comments-header{
    margin: 40px 0;
    text-align: center;
    font-size: x-large;
}

.comment-title{
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #d7d7d7;
}

.comment-title-bg-1{
    background-color: #50596b;
}

.comment-title-bg-2{
    background-color: #78ab59;
}

.comment-body{
    margin-bottom: 20px;
    min-height: 120px;
    text-align: center;
    color: #50596b;
}

.comment-body-bg-1{
    background-color: #eaedf2;
}

.comment-body-bg-2{
    background-color: #e3ebdf;
}

.mail-color {
    color: #78ab59;
}


















